* {
    margin: 0;
    padding: 0;
}
.container {
    width: 95%;
    height: 100vh;
    padding: 0 10px 0 10px;
    margin: 0 auto;
}
.header {
    width: 90%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.title {
    font-family: serif;
    font-size: 50px;
}
.info {
    width: 200px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.info > button {
    width: 60px;
    cursor: pointer;
}
.invert {
    background-color: #41b7d7;
    cursor: 'not-allowed';
}
.start {
    background-color: green;
}
.stop {
    background-color: yellow;
    cursor: 'not-allowed';
}
.game {
    width: 90%;
    height: calc(100vh - 140px);
    overflow: auto;
    padding: 10px;
    margin: 0 auto;
    border: 2px solid #5d5757;
    box-shadow: 1px 1px #aaa6a6, 2px 2px #878383, 3px 3px #524f4f;
}
.canvas {
    width: 100%;
    height: 100%;
}